* {
    box-sizing: border-box;
}

body {
    max-width: 1024px !important;
}

a#headerlink {
    color: var(--b-txt) !important;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.wrapper > * { 
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    grid-area: header;
    border-bottom: 2px solid var(--b-line);
}

.content {
    grid-area: content;
}

.nav {
    grid-area: nav;
}

.side {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding-top: 50px;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "sidebar"
        "content"
        "footer";
}

@media (min-width: 490px) { /* 490 and larger */
    .wrapper {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "header sidebar"
            "nav nav"
            "content content"
            "footer footer";
    }

    nav ul {
        display:flex;
        justify-content: space-between;
    }

    .side {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-bottom: 2px solid var(--b-line);
    }
}

@media (min-width: 780px) { /* 780 and larger */
    .wrapper {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "header header sidebar"
            "nav content content"
            "footer footer footer";
    }

    nav {
        border-right: 2px solid var(--b-line);
    }
    
    nav ul {
        flex-direction: column;
    }

    .content {
        padding-left: 50px;
    }
}