{% load static %}

<!DOCTYPE html>

<html lang="en">

<meta charset="UTF-8">

<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'npc/styles.css' %}">
<link rel="stylesheet" href="https://unpkg.com/bamboo.css">

<title>Resources</title>

<body>
  
    <div class="wrapper">

        <header class="header"><h1>GM Resources</h1></header>
        
        <nav class="nav">
            <ul>
                <li><a href="{% url 'persontypes' %}">Person Types</a></li>
                <li><a href="{% url 'placetypes' %}">Place Types</a></li>
                <li><a href="{% url 'personlist' %}">NPCs</a></li>
                <li><a href="{% url 'placelist' %}">Places</a></li>
            </ul>
        </nav>

        <article class="content">
            {% block content %}
            {% endblock content %}
        </article>

        <aside class="side">
            <ul>
                <li><a href="https://github.com/Zeneak-IT112/npc-repository">Repo</a></li>
                <li>Login</li>
            </ul>
        </aside>

        <footer class="footer">
            Created by <a href="https://github.com/gedeguz007">Gabe</a>, <a href="https://github.com/cavinginrainbows">Lewis</a>, and <a href="https://github.com/Zeneak">Z</a>.
        </footer>

    </div>

</body>

</html>